/* resetear */
* {
    margin: 0px;
    padding: 0px;
}
/* Centrar el contenido de la página */
body {
    text-align: center;
    background: color #28AD56; color: #FFFFFF;
}
/* Centrar el contenido de la página web */
#agrupar {
    width: 980px;
    margin:5px auto;
    background-color: #18529d;
    padding: 20px;
}
/* Formato a la cabecera de la página */
#cabecera {
    text-align: center;
    background-color: #FFFFFF;color:black;
    border: 1px solid #999999;
    padding: 20px;
}
/* Convetir una lista desordenada en opciones de menú */
#menu {
background: #000;
padding: 5px 15px;
}
#menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 1em verdana, sans-serif;
}
section {
    float: left;
    width: 660px;
    margin: 20px;
    border-right: 2px solid white;
}
/* desahabilita wps edición */
.columna {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: #ccc; color: #000;
}
.pie {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #FFFFFF;
}
article {
    background: #28AD56;
    border: 1px solid #999999;
    padding: 20px;
margin-bottom: 15px;
}
article footer {
    text-align: right;
}
time {
    color: #999999;
}
figcaption {
    font: italic 14px verdana, sans-serif;
    color: #000;
}
/* estilo a los enlaces */
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited {
    color: yellow;
}
a:hover {
    color: yellowgreen;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}
h1 {
    color: #000;
    font-size: 45px;
}
h2,h3,h4,h5,h6 {
    color: #000;
    font-size: 14px;
}
p{
    color: #000;
    font-size: 14px;
}
ul li{
    display: inline-block;
    padding: 20px 20px;
    align-items: center;
}
#biografía {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 1em verdana, sans-serif;
    
}